<!-- Main navigation -->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark cyan indigo scrolling-navbar intro-fixed-nav"
    [containerInside]=" false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbBtn color="white" mdbWavesEffect href="#"><strong
          class="text-dark">LOGO</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#" mdbBtn color="white" outline="true">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#" mdbBtn color="white" outline="true">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#" mdbBtn color="white" outline="true">Contact</a>
        </li>
      </ul>
      <form class="form-inline">
        <!--Twitter -->
        <a class="li-ic">
          <mdb-icon fab icon="twitter-square" size="2x" class="white-text mr-md-1"></mdb-icon>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-1"></mdb-icon>
        </a>
        <!--Github-->
        <a class="pin-ic">
          <mdb-icon fab icon="github" size="2x" class="white-text mr-md-1"></mdb-icon>
        </a>
      </form>
    </links>
  </mdb-navbar>
  <!-- Full Page Intro -->
  <div class="view"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <br>
        <br>
        <br>
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5 text-dark">Download Apps on AppStore and PlayStore </h1>
            <hr class="hr-light">
            <h6 class="mb-4 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
              fuga nesciunt
              dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
              iste.</h6>
            <a mdbBtn gradient="peach" mdbWavesEffect class="text-dark"><strong>Download</strong></a>
            <a mdbBtn gradient="blue" outline="true" mdbWavesEffect class="text-dark"><strong>more</strong></a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

<body class="container-fluid">
  <!-- Projects section v.3 -->
  <section class="my-5">
    <!-- Section heading -->
    <div class="text-center">
      <div class="btn-group">
        <a mdbBtn color="dark" mdbWavesEffect class="text-white bg-dark"><strong>
            <h2>BEST</h2>
          </strong></a>
        <a mdbBtn mdbWavesEffect class="text-dark"><strong>
            <h2>SERVICE</h2>
          </strong></a>
      </div>
    </div>
    <br>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
      pellentesque
      eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
    </p>

    <div class="container">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4">
          <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
          <h5 class="font-weight-bold mt-3">Analytics</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
            aperiam
            minima assumenda
            deleniti hic.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
          <h5 class="font-weight-bold mt-3">Consultant</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
            aperiam
            minima assumenda
            deleniti hic.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
          <h5 class="font-weight-bold mt-3">Management</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
            aperiam
            minima assumenda
            deleniti hic.
          </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>

    <hr class="my-5">
    <div class="text-center">
      <div class="btn-group">
        <a mdbBtn color="dark" mdbWavesEffect class="text-white bg-dark"><strong>
            <h2>OUR</h2>
          </strong></a>
        <a mdbBtn mdbWavesEffect class="text-dark"><strong>
            <h2>TEAM</h2>
          </strong></a>
      </div>
    </div>
    <br>
    <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
      pellentesque
      eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate.
    </p>
    <div class="row">
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>BILLY CULLEN</strong>
            </h4>
            <h5>Fullstack Developer</h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <!--Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <!--Google +-->
            <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>SMITH</strong>
            </h4>
            <h5>Frontend Developer</h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <!--Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <!--Google +-->
            <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>JOHN DOE</strong>
            </h4>
            <h5>Backend developer</h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <!--Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <!--Google +-->
            <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>CARINA</strong>
            </h4>
            <h5>Software Tester</h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <!--Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <!--Google +-->
            <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>WILLIAM</strong>
            </h4>
            <h5>Script Quality Control</h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <!--Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <!--Google +-->
            <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true">
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>JIMMY</strong>
            </h4>
            <h5>Senior Data Analyst</h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </mdb-card-text>

            <!--Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <!--Google +-->
            <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
    </div>
  </section>
  <!-- Projects section v.3 -->
</body>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold" mdbBtn color="white" outline="true">Company name</h6>
        <div class="container">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold" mdbBtn color="white" outline="true">Services</h6>
        <div class="container">
          <p>
            <a href="#!">Web Consultant</a>
          </p>
          <p>
            <a href="#!">Web Builder</a>
          </p>
          <p>
            <a href="#!">Fullstack Develop</a>
          </p>
          <p>
            <a href="#!">Microservices</a>
          </p>
        </div>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold" mdbBtn color="white" outline="true">Information</h6>
        <div class="container">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold" mdbBtn color="white" outline="true">Contact</h6>
        <div class="container">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Surakarta, West Java, ID
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> wisnufebri@gmail.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +62 823 8848 6457
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon> +62 823 8848 6457
          </p>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright :
          <a href="https://github.com/wisnufebri">
            <strong> Wisnu Febri Ramadhan</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="cc-visa"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="cc-paypal"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="cc-mastercard"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab fab icon="google-plus"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->